<!DOCTYPE html>
<html
  lang="en"
  th:fragment="parent(content,title,script)"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title data-th-replace="${title}">SCM</title>

    <!-- flowbite content link -->
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css"
      rel="stylesheet"
    />

    <!-- output css -->
    <link rel="stylesheet" data-th-href="${'/css/output.css'}" />
  </head>
  <body>
    <!-- common header -->
    <div data-th-replace="navbar::navbar"></div>
    <!-- main content -->
    <div class="p-5">
      <section data-th-replace="${content}"></section>
    </div>

    <!-- flowbite content -->
    <!-- common footer -->

    <footer class="p-4">Footer: code with shankar</footer>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

    <th:block data-th-replace="${script}"></th:block>
  </body>
</html>
